<h1 id="logo">Logo</h1>
<h2>Welcome to the owl house!</h2>

<h3>Create an account</h3>
<form action="/login" method="POST" >
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
    </div>
    <div>
        <label for="avatar">Avatar:</label>
        <input type="file" id="avatar" name="avatar">
    </div>
    <div>
        <button id="signUp" type="submit">Sign up</button>
    </div>
    <h4>Or</h4>
    <a href="/guest" id="guestButton" type="submit">Continue as guest</button>
</form>


