<!DOCTYPE html>
<html>
<head>
    <title>Login Success</title>
    <link rel="stylesheet" type="text/css" href="../../myApp/static/index.css">
</head>
<body>
    <h1>Login Successful!</h1>
    <p>Welcome to the app</p>
    <p> Please answer a short questionaire about <br> what you would like to watch.</p>

    <div id="quizButton-container">
        <button id="quizButton" type="submit">Start the quiz</button>
    </div>

    <script>
        window.onload = function() {
            alert("Welcome!")
        }
    </script>
</body>
</html>







