<!DOCTYPE html>
<html>
<head>
    <title>Login Success</title>
    <link rel="stylesheet" type="text/css" href="../../myApp/static/index.css">
</head>
<body>
    <h1>Login Successful!</h1>
    <p>Welcome to our website!</p>

    <script>
        window.onload = function() {
            alert("Welcome to our website!")
        }
    </script>
</body>
</html>







