<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <style>
        .question {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Quiz</h1>

    <div class="question" id="question3">
        <h3>Question 3:</h3>
        <p>How long do you want the cartoon to be</p>
        <ul>
            <li><a class="quizButton" href="quizQuestion4">1 season</a></li>
            <li><a class="quizButton" href="quizQuestion4">2 seasons</a></li>
            <li><a class="quizButton" href="quizQuestion4">3 seasons</a></li>
            <li><a class="quizButton" href="quizQuestion4">more seasons</a></li>
        </ul>
    </div>

    <button onclick="history.back()">Previous Question</button>

</body>
</html>