<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <style>
        .question {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Quiz</h1>

    <div class="question" id="question5">
        <h3>Question 5:</h3>
        <p>Where do you want to watch it?</p>
        <ul>
            <li><a class="quizButton" href="results">Netflix</a></li>
            <li><a class="quizButton" href="results">Prime</a></li>
            <li><a class="quizButton" href="results">Disney+</a></li>
            <li><a class="quizButton" href="results">Online for free</a></li>
        </ul>
    </div>

    <button onclick="history.back()">Previous Question</button>

</body>
</html>