<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <style>
        .question {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Quiz</h1>

    <div class="question" id="question2">
        <h3>Question 2:</h3>
        <p>What type of cartoons do you like?</p>
        <ul>
            <li><a class="quizButton" href="quizQuestion3">Adventure</a></li>
            <li><a class="quizButton" href="quizQuestion3">Slice of life</a></li>
            <li><a class="quizButton" href="quizQuestion3">Fantasy</a></li>
            <li><a class="quizButton" href="quizQuestion3">All of them</a></li>
        </ul>
    </div>

    <button onclick="history.back()">Previous Question</button>

</body>
</html>