<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <style>
        .question {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Quiz</h1>

    <div class="question" id="question4">
        <h3>Question 4:</h3>
        <p>What do you prefer?</p>
        <ul>
            <li><a class="quizButton" href="quizQuestion5">An ongoing cartoon</a></li>
            <li><a class="quizButton" href="quizQuestion5">A finished cartoon</a></li>
            <li><a class="quizButton" href="quizQuestion5">A cartoon that might be renewed</a></li>
            <li><a class="quizButton" href="quizQuestion5">All of the above</a></li>
        </ul>
    </div>

    <button onclick="history.back()">Previous Question</button>

</body>
</html>