<!DOCTYPE html>
<html>
<head>
    <title>Quiz</title>
    <style>
        .question {
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <h1>Quiz</h1>

    <div class="question" id="question1">
        <h3>Question 1:</h3>
        <p>How old are you?</p>
        <ul>
            <li><a class="quizButton" href="quizQuestion2">12-14</a></li>
            <li><a class="quizButton" href="quizQuestion2">15-17</a></li>
            <li><a class="quizButton" href="quizQuestion2">18-25</a></li>
            <li><a class="quizButton" href="quizQuestion2">25+</a></li>
        </ul>
    </div>

</body>
</html>