body{
    background-color: rgb(222, 206, 238);
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* Center everything horizontally */
}

.background-image {
    background-image: url('../images/boiling-isles-night.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#logo{ 
    color: #faf8ff;
    display: flex;
    justify-content: center;
    padding: .5em;
    margin: 0;
}

h1{
    margin: 1em;
    display: flex;
    justify-content: center;
}

#h1-index{
    color: #faf8ff;
}

h2{
    color: #000000;
    font-size: 1em;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

#h2-index{
    color: #faf8ff;
}

h3{
    margin-top: 1em;
    margin-bottom: .5em;
}

#h3-index{
    color: #faf8ff;
}

ul{
    list-style: none;
    padding: 0;
}

form {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: #f1e6ff;
    max-width: 400px;
    padding: 20px;
    margin: 5 auto; /* Center the form horizontally */
    display: inline-block; /* Make the form only take up the necessary width */
}
  
label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
  
input[type="text"],
input[type="password"]{
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}
  
button[type="submit"] {
    background-color: #9375c3;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}
  
button[type="submit"]:hover {
    background-color: #1c055b;
}

#signUp{
    margin-top: 2em;
}

#guestButton{
    background-color: #9375c3;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 92%;
}

.quizButton {
    background-color: #9375c3;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 52%;
    margin: 1em auto;
}
  
.error-message {
    color: red;
}
  
  
  