body{
    background-color: rgb(222, 206, 238);
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center; /* Center everything horizontally */
}

#logo{ 
    display: flex;
    justify-content: center;
    padding: .5em;
    margin: 0;
}

h1{
    margin: 1em;
    display: flex;
    justify-content: center;
}

.question_h1{
    font-size: 2em;
    padding: 0 0 .2em 0
}

h2{
    color: #1c055b;
    font-size: 1em;
    display: flex;
    justify-content: center;
    margin-top: 0;
}

h3{
    margin-top: 1em;
    margin-bottom: .5em;
}

.Qpage_h2{
    font-size: 1.5em;
    padding-top: 1em;
}

.button{
    width: 75%;
    padding: 1em;
    font-size: 1.5em;
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 5em;
}

.backButton{
    position: absolute;
    top: 1.5em;
    left: 1em;
}

li{
    margin: 0;
    padding: 0;
}

ul{
    padding:0;
    margin:0;
}

.ulButtonlist{
    display: flex;
    justify-content: center;
    padding: 1em 0 0 0;
    margin: 0;
}

#ulButtonlist_wrap{
    display: flex;
    padding: 1em 0 0 0;
    margin:0;
}

.buttonList{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#buttonlist_tp{
    position: absolute;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.button_cat{
    padding: 1em;
    width: 80vw;
    margin: 1em;
    border-radius: 5em;
    border-style: none;
}

.button_tp{
    padding: 1em;
    margin: .5em;
    border-radius: 5em;
    border-style: none;
}

form {
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    background-color: #f1e6ff;
    max-width: 400px;
    padding: 20px;
    margin: 5 auto; /* Center the form horizontally */
    display: inline-block; /* Make the form only take up the necessary width */
}
  
label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}
  
input[type="text"],
input[type="password"]{
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.1);
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}
  
button[type="submit"] {
    background-color: #9375c3;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 100%;
}
  
button[type="submit"]:hover {
    background-color: #1c055b;
}

#signUp{
    margin-top: 2em;
}

#guestButton{
    background-color: #9375c3;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 16px;
    padding: 10px;
    width: 92%;
}
  
#quizButton-container{
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 0 auto;
}

#quizButton{
    width: 100%;
    position: fixed;
    top: 20em;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.container h1 {
    font-size: 3rem;
    margin-top: 5rem;
}
  
  
  
  
  