body{
    background-color: aqua;
}

#logo{ 
    display: flex;
    justify-content: center;
    padding: 1em;
}

h1{
    display: flex;
    justify-content: center;
}

.question_h1{
    font-size: 2em;
    padding: 0 0 .2em 0
}

h2{
    display: flex;
    justify-content: center;
}

.Qpage_h2{
    font-size: 1.5em;
    padding-top: 1em;
}

.button{
    width: 75%;
    padding: 1em;
    font-size: 1.5em;
    margin: 0;
    position: absolute;
    top: 85%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 5em;
}

.backButton{
    position: absolute;
    top: 1.5em;
    left: 1em;
}

li{
    margin: 0;
    padding: 0;
}

ul{
    padding:0;
    margin:0;
}

.ulButtonlist{
    display: flex;
    justify-content: center;
    padding: 1em 0 0 0;
    margin: 0;
}

#ulButtonlist_wrap{
    display: flex;
    padding: 1em 0 0 0;
    margin:0;
}

.buttonList{
    display: flex;
    align-items: center;
    flex-direction: column;
}

#buttonlist_tp{
    position: absolute;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.button_cat{
    padding: 1em;
    width: 80vw;
    margin: 1em;
    border-radius: 5em;
    border-style: none;
}

.button_tp{
    padding: 1em;
    margin: .5em;
    border-radius: 5em;
    border-style: none;
}